EclipsProject/WholesalerWebDemo/WebContent/wsdl/updateCatalog.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/updateCatalog/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="updateCatalog"
	targetNamespace="http://www.example.org/updateCatalog/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/updateCatalog/">
			
			<xsd:element name="authentification" type="xsd:string" />
			<xsd:element name="request" type="tns:updateRequestType" />
			<xsd:element name="response" type="tns:updateResponseType" />
			
			<xsd:complexType name="priceType">
				<xsd:sequence>
					<xsd:element name="amount" type="xsd:decimal"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="currency" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="tax" type="xsd:decimal" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="pricetype" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="countryISOCode" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="lowerBound" type="xsd:integer"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="supplierProductType">
				<xsd:sequence>
					<xsd:element name="supplierAID" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="shortDescription" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="longDescription" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="price" type="tns:priceType" minOccurs="1"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="authenticationType">
				<xsd:sequence>
					<xsd:element name="wholesalerName" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="wsUsername" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="wsPassword" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listOfProductsType">
				<xsd:sequence>
					<xsd:element name="supplierProduct" type="tns:supplierProductType"
						minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listOfUpdatedProductsType">
				<xsd:sequence>
					<xsd:element name="changedProducts" type="tns:supplierProductType"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="listOfUnavailableProductsType">
				<xsd:sequence>
					<xsd:element name="supplierProduct" type="tns:supplierProductType"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:complexType name="updateRequestType">
				<xsd:sequence>
					<xsd:element name="authentication" type="tns:authenticationType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="listOfProducts" type="tns:listOfProductsType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="updateResponseType">
				<xsd:sequence>
					<xsd:element name="updateDate" type="xsd:date"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="listOfUpdatedProducts" type="tns:listOfUpdatedProductsType"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="listOfUnavaiableProducts" type="tns:listOfUnavailableProductsType"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="authentificationMessage">
		<wsdl:part name="authentificationPart" element="tns:authentification"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="request">
		<wsdl:part name="requestPart" element="tns:request" />
	</wsdl:message>

	<wsdl:message name="response">
		<wsdl:part name="responsePart" element="tns:response" />
	</wsdl:message>
	<wsdl:portType name="updateCatalog">
		<wsdl:operation name="updateCatalog">
			<wsdl:input message="tns:request" />
			<wsdl:output message="tns:response" />
			<wsdl:fault name="authentification" message="tns:authentificationMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="updateCatalogBinding" type="tns:updateCatalog">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateCatalog">
			<soap:operation soapAction="http://localhost:8080/updateCatalog/updateCatalog"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="authentification">
				<soap:fault name="authentification" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="updateCatalog">
		<wsdl:port name="updateCatalogWebservice" binding="tns:updateCatalogBinding">
			<soap:address location="http://localhost:8080/WholesalerWebDemo/ws/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
